{% extends "base.html" %}
{% block content %}

<div class="dashboard-container">
    <nav>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('book_consultation') }}">Book Consultation</a>
        <a href="{{ url_for('carbon_footprint') }}">Carbon Footprint</a>
		<a href="{{ url_for('products') }}">Products</a>
    </nav>
</div>

<style>
	pre{
		text-align: center;
		font-size: large;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
	h1{
		text-align: center;
	}


</style>

<!-- Slideshow container -->
<section id="image-carousel" class="splide" aria-label="Beautiful Images">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="/workspaces/exam/Rolsa Technologies/static/image1.jpg" alt="Wind power">
			</li>
			<li class="splide__slide">
				<img src="/workspaces/exam/Rolsa Technologies/static/image2.jpg" alt="Solar power">
			</li>
			<li class="splide__slide">
				<img src="/workspaces/exam/Rolsa Technologies/static/image3.jpg" alt="Tidal power">
			</li>
			<li class="splide__slide">
				<img src="/workspaces/exam/Rolsa Technologies/static/image4.jpg" alt="Geothermal energy">
			</li>
		</ul>
  </div>
</section>
<body>
  

	<h1>Living a green life</h1>
	<hr>
	<pre>
		Green energy has been making amazing leaps in recent years:
		From ground breaking tech such as: Turbineless wind farms to
		Crystal layered solar panels, green energy is accelerating at an
		immense rate. 
	</pre>
	<script>
    	new Splide( '#image-carousel' ).mount();
  	</script>
	<pre>
		Rolsa Technologies aims to bring the latest advancements in clean energy
		right to your doorstep so you too can join a greener future
	</pre>
	<pre>
		The average person produces 4 and a half tonnes of co2 a year alone.
		That is the same as 1710m^3 of co2
		That is over half an olympic swimming pool filled with co2.
		It is our responsibility to look after the earth
	</pre>
	<pre>
		Book a <a href="{{ url_for('book_consultation') }}">consultation</a> with us today!
	</pre>


</body>



{% endblock %}