{% extends "base.html" %}
{% block content %}


<div class="dashboard-container">
    <nav>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('book_consultation') }}">Book Consultation</a>
        <a href="{{ url_for('carbon_footprint') }}">Carbon Footprint</a>
    </nav>
</div>
<style>
    h2,p{
        text-align: center;
    }
</style>


<h2>Sign Up</h2>
<form method="POST">
    <label for="name">Name:</label>
    <input type="name" id="name" name="name" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Sign Up</button>
</form>
<p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>

{% if presence %}
<p>Email already in use</p>
{% endif %}

{% endblock %}